
{:source-paths ["src"]
 :dependencies []
 :dev-http {8080 "target/"}
 :builds {:app {:output-dir "target/"
                :target :esm
                :asset-path "."
                :modules {:main {:init-fn app.main/main!}}
                :devtools {:after-load app.main/reload!}}}}
